$brand-primary:         #ffd237; // 浅黄色
$brand-light:           #ffba38; // 中黄色
$brand-danger:          #ff8d11; // 深黄色
$brand-dark:            #353944; // 深色

$brand-title:           #333333; // 标题
$brand-content:         #666666; // 内容文字
$brand-tip1:            #999999; // 注释文字
$brand-tip2:            #cccccc; // 辅助性文字

$brand-border:          #e5e5e5; // 边框
$brand-bg:              #fafafa; // 背景
